.form-control-feedback {
  margin-right: 40px;
}

.container {
    margin-top: 20px;
}

.panel {
    min-width: 400px;
}

.error-message {
    display: none;
    width: 100%;
    font-weight: bold;
    color: #A94442;
}

.card-type, .card-type select {
  width: 100%;
}

.panel-heading {
    width: 100%;
}

.panel-title {
    display: inline;
    font-weight: bold;
    text-transform: uppercase;
}

.info {
    text-transform: uppercase;
}

.display-table {
    display: table;
}

.display-tr {
    display: table-row;
}

.display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.input-group {
    padding-bottom: 5px;
}

.input-group-addon {
    min-width: 40px;
}

img {
    max-width: 145px !important;
    max-height: 43px;
}

select {
    height: 34px;
}